.page-found {
	background-color: #ffffff;
	text-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		font-size: 100px;
		color: #ff5e5e;
		font-weight: bold;
		font-style: italic;
	}
	h2 {
		font-size: 30px;
		font-weight: bold;
		line-height: 50px;
		margin-top: 18px;
	}
	.btn {
		background-color: #ff5e5e;
		color: #ffffff;
		border-radius: 10px;
		text-transform: uppercase;
		padding: 10px 20px;
		font-size: 14px;
		margin-top: 20px;
		border: 0;
		cursor: pointer;
		text-decoration: none;
		font-weight: bold;
	}
}
